name: Our Workflow
on: push
jobs:
  win:
    runs-on: windows-latest
    steps:
      - run: echo win > win.txt
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: test.txt
  mac:
    runs-on: macos-latest
    steps:
      - run: echo mac > mac.txt
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: test.txt
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: release
      - uses: softprops/action-gh-release@v1
        with:
          files: |
            mac.txt
            win.txt

