name: Our Workflow
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: nick-field/retry@v2
        with:
          timeout_seconds: 5
          max_attempts: 3
          command: |
            sleep 10
            echo "Hello World"
      - run: echo ${{github.ref_name}}
      - run: ls -al

