name: Our Workflow
on: push
jobs:
  win:
    runs-on: windows-latest
    steps:
      - run: echo win > ./dist/win.txt
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: './dist/*.txt'
  mac:
    runs-on: macos-latest
    steps:
      - run: echo mac > mac.txt
      - uses: actions/upload-artifact@v3
        with:
          name: release
          path: mac.txt
  release:
    needs: [win, mac]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          name: release
      - uses: softprops/action-gh-release@v1
        with:
          files: '*'

