name: Our Workflow
on: push
jobs:
  checkout:
    runs-on: ubuntu-latest
    steps:
      - run: ls -al
      - uses: actions/checkout@v2
        with:
          fetch-depth: 3
      - run: ls -al
      - run: cat .github/workflows/checkout.yml
      - run: git log --pretty=oneline
